<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!--  TOKEN FORMAT
            Specify's the format for the token when inserting a dictionary link
            Default: %%{0}%%
      -->      
      <setting name="Rosetta.Sc.InsertDictionaryToken.TokenFormat" value="%%{0}%%" />
      <!--  REGEX PATTERN
            Specify's the format for matching tokens when rendering fields
            Default: ([a-zA-Z0-9 ]+)
      -->      
      <setting name="Rosetta.Sc.InsertDictionaryToken.RegexPattern" value="([a-zA-Z0-9 ]+)" />
    </settings>    
    <clientscripts>      
      <htmleditor>
        <script language="javascript" src="/sitecore/shell/Controls/Rich Text Editor/InsertDictionaryToken/InsertDictionaryToken.js"></script>
      </htmleditor>
    </clientscripts>
    <pipelines>
      <renderField>
        <processor type="Rosetta.Sc.InsertDictionaryToken.Pipelines.RenderField.ReplaceDictionaryToken, Rosetta.Sc.InsertDictionaryToken" patch:before="processor[@type='Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues, Sitecore.Kernel']" />
      </renderField>
    </pipelines>
  </sitecore>    
</configuration>
